<div class="web-page">
    <div>
        <h1>Create Your Own Fancast</h1>
        <form>
            <label for="fancast_search">Search Your Favorite Book by its Title to Get Started</label><br>
            <input type="text" placeholder="Search.." name="fancast_search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
