<div class="web-page">
    <div class="home-intro">
        <h1>Create Your Own Fancast</h1>
        <form method="POST" action="/create-fancast" id="new-fancast" onsubmit>
            <label for="fancast_book">Search Your Favorite Book by its Title to Get Started</label><br>
            <input type="text" placeholder="Search.." name="fancast_book">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>