<div class="web-page">
    <div class="home-intro">
        <h1>Fantasiae Personae</h1>
        <p class="welcome">
            Welcome to Fantasiae Personae!
        </p>
        <p class="welcome">
            When reading a book, we often keep a specific image in our mind of how characters should look. Sometimes, this image can almost be amorphous and difficult to imagine.
        </p>
        <p class="welcome">
            This application seeks to help by providing you with images of the casts of actors starring in movies adapted from your chosen book and even allow you to create/view fancasts from other users!
        </p>
        <div>
            <h3>Get Started</h3>
            <h6>(warning: it may take a few seconds to load!)</h6>
            <h5>Search Adaptations by Book Title</h5>
            <div class="search-container">
                <form action="/adaptations">
                    <input type="text" placeholder="Search.." name="book_search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h4>Or Create Your Own Fancast for Your Favorite Novel</h4>
            <h5>Search Your Favorite Book by its Title to Get Started</h5>
            <div class="search-container">
                <form method="POST" action="/create-fancast" id="new-fancast" onsubmit>
                    <input type="text" placeholder="Search.." name="fancast_book">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="member-login">
        {{#unless username}}
            <h3>Member Sign In</h3>
            <form method="POST" action="/user-login" id="login_user" onsubmit>
                <fieldset>
                    <label for="login_username">Username</label><br>
                    <input type="text" name="username" size="25" id="login_username"><br>
                    <label for="login_password">Password</label><br>
                    <input type="password" name="password" id="login_password" size="16"><br>
                    <input type="submit" class="register-button" id="user_login_submit" value="Login">
                    <h5>Don't have an account?</h5>
                    <a id="register-link" href="/new-user-register">Create a free account now</a>
                </fieldset>
            </form>
        {{/unless}}
    </div>
</div>
