<div class="web-page">
    <div class="user-register">
        <div class="register-info">
            <h2>Login to Fantasiae Personae</h2>
            <p>As a member of Fantasiae Personae, you are able to create your own facasts for your favorite novels or give ratings to fancasts by other users!</p>
        </div>
        <div class="register-form">
            <h3>Member Login</h3>
            <form method="POST" action="https://cs361-auth-service.herokuapp.com/api/user/register/" id="login_user" onsubmit>
                <fieldset>
                    <input type="hidden" name="next" value="/">
                    <label for="login_username">Username</label><br>
                    <input type="text" name="username" size="25" id="login_username"><br>
                    <label for="login_password">Password</label><br>
                    <input type="password" name="password" id="login_password" size="16"><br>
                    <input type="submit" class="register-button" name="register" id="user_login_submit" value="Sign up">
                    <h5>Don't have an account?</h5>
                    <a id="register-link" href="/new-user-register">Create a free account now</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
