<div class="web-page">
    <div class="user-register">
        <div class="register-info">
            <h2>Login to Fantasiae Personae</h2>
            <p>As a member of Fantasiae Personae, you are able to create your own facasts for your favorite novels or give ratings to fancasts by other users!</p>
        </div>
        <div class="register-form">
            <h3>Member Login</h3>
            <form method="POST" action="/user-login" id="login_user" onsubmit>
                <fieldset>
                    <label for="login_username">Username</label><br>
                    <input type="text" name="username" size="25" id="login_username"><br>
                    <label for="login_password">Password</label><br>
                    <input type="password" name="password" id="login_password" size="16"><br>
                    <input type="hidden" name="redirect" id="redirect" value="">
                    <input type="submit" class="register-button" id="user_login_submit" value="Login">
                    <h5>Don't have an account?</h5>
                    <a id="register-link" href="/new-user-register">Create a free account now</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    const params = new URLSearchParams(document.location.search);
    let redirectParam = params.get("redirect");
    console.log(redirectParam);
    document.getElementById("redirect").value = redirectParam;
</script>
