
.web-page {
  position: relative;
}

.error {
  text-align: center;
  margin-top: 100px;
}

.info {
  position: absolute;
  left: 400px;
  top: 15px;
}

button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#home_login_submit {
  position: absolute;
  width: 50px;
  right: 0px;
  bottom: 10px;
}

#lost-password {
  font-size: 12px;
}

.home-intro {
  position: absolute;
  left: 330px;
  margin-left: 70px;
  margin-right: 700px;
  margin-top: 30px;
}

.welcome {
  position: relative;
  padding-top: 10px;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.member-login {
  position: absolute;
  right: 450px;
  width: 200px;
  top: 50px;
  text-align: left;
}

fieldset {
    margin: 0px 0px 15px 0px;
    text-align: left;
    padding: 10px;
}

fieldset input {
    width: 180px;
    margin-bottom: 15px;
}

input, select, textarea {
    padding: 2px;
    font-size: 10pt;
}